@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    scroll-behavior: smooth;
  }
  *::-webkit-scrollbar{
    display: none;
  }
body{
  font-family: "Poppins",sans-serif;
}
  
.shad {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.section{
  @apply py-14 lg:py-24 container flex flex-col lg:min-h-screen  items-center mx-auto
}

.SecTitle {
    font-weight: 700;
    color: #38A7A1;
    @apply mb-16 max-w-sm text-3xl font-bold md:text-5xl;
}

.collapsible {
  background-color: #ffffff;
  color: black;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}


.content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

