@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth;
  }
  *::-webkit-scrollbar{
    display: none;
  }

  
.shad {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.section{
  @apply py-20 container flex flex-col  items-center
}

.SecTitle {
    font-size: 48px;
    font-weight: 700;
    color: #38A7A1;
    @apply mb-16;
}

.collapsible {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}